.contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form input, .contact-page form textarea{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
form button{
    padding: 10px 20px;
    border: none;
    background-color: #ff4444;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
form button:hover{
    background-color: #fc894d;
}
.contact-header{
    text-align: center;
    margin-bottom: 20px;
}
.contact-page label{
    font-weight: bold;
    display: flex;
}
form{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}